.border{
	border-style: solid; 
	border-width: 0.15rem;
	border-radius: 0.25rem;
	width: 60%;
	margin: auto;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	background-position: cover;
	border-color: transparent;

}

.myauto{
	margin-top: auto !important;
	margin-bottom: auto !important;
}

body{
	font-family: 'Lacquer', sans-serif;
	background-image: url("../img/prince.jpg")
}

.nav{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-bottom: 2rem;
    font-size: 2rem;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border-style: dotted;
	border-width: 0.15rem;
	border-color: rgba(252, 250, 67, .6);
	border-radius: 0.55rem;
	text-align: center;

	

}

a:hover{
	background-color: rgba(252, 250, 67, .7);
	border-radius: 0.45rem;
	border-style: dotted;
	border-width: 0.15rem;
	border-color: rgba(252, 250, 67, .6);
}

a.active{
	background-color: rgba(252, 250, 67, .6);
	border-radius: 0.45rem;
	border-style: dotted;
	border-width: 0.15rem;
	border-color: rgba(252, 250, 67, .6);
}


/**/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}